body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
  font-family: 'Amazon Ember', 'Helvetica Neue', Roboto, Arial, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
p,
div {
  font-family: 'Amazon Ember', 'Helvetica Neue', Roboto, Arial, sans-serif !important;
}

code {
  font-family: 'Amazon Ember', 'Helvetica Neue', Roboto, Arial, sans-serif;
}

iframe {
  display: none;
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 100;
  src: url('./assets/fonts/AmazonEmber_Th.ttf');
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 200;
  src: url('./assets/fonts/AmazonEmber_Lt.ttf');
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 300;
  src: url('./assets/fonts/AmazonEmber_Lt.ttf');
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 400;
  src: url('./assets/fonts/AmazonEmber_Rg.ttf');
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 500;
  src: url('./assets/fonts/AmazonEmber_Rg.ttf');
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 600;
  src: url('./assets/fonts/AmazonEmber_Rg.ttf');
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 700;
  src: url('./assets/fonts/AmazonEmber_Bd.ttf');
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 800;
  src: url('./assets/fonts/AmazonEmber_Bd.ttf');
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 900;
  src: url('./assets/fonts/AmazonEmber_Bd.ttf');
}

.rounded-button,
.amplify-button,
.amplify-button--success,
.amplify-button--error {
  border-radius: 15px !important;
  line-height: 24px !important;
}
.amplify-button,
.amplify-button--success,
.amplify-button--error {
  text-transform: initial !important;
}

.amplify-button {
  background-color: #783326 !important;
  color: #fafafa !important;
}

.amplify-button:hover {
  background-color: #783326 !important;
  color: #ffffff !important;
}

.amplify-button--success {
  background-color: transparent !important;
  border-color: #4bb543 !important;
  color: #4bb543 !important;
}

.amplify-button--success:hover {
  background-color: #4bb543 !important;
  color: #ffffff !important;
}

.amplify-button--error {
  background-color: transparent !important;
  border-color: #d32f2f !important;
  color: #d32f2f !important;
}

.amplify-button--error:hover {
  background-color: #d32f2f !important;
  color: #ffffff !important;
}

.amplify-button.Mui-disabled,
.amplify-button--success.Mui-disabled,
.amplify-button--error.Mui-disabled {
  border-color: #cccccc !important;
  color: #888888 !important;
}

.amplify-image {
  width: 100%;
  height: auto;
  object-fit: fill;
  object-position: initial;
}

.amplify-image.logo {
  width: 65% !important;
}

.MuiInputBase-root.Mui-disabled {
  background: rgba(0, 0, 0, 0.05);
}
